*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(images/home.jpg);
	background-size: cover;

}
.logo
{
	width: 150px;
	margin-top: 18px;
}
.header
{
	height: 10%;
}
.header a
{
	text-decoration: none !important;
	border-radius: 30px;
	padding: 7px 20px;
	float: right;
	color: #000 !important;
	background: #107afd;
	font-weight: 600;
	margin:  15 5px;
	transition: 1s;
}
.cart-btn
{
	border: 1px solid #fff !important;
	background: transparent !important;
}

.movie-details
{
	margin: 3% 0;
}
.left-box
{
	color: #fff;
	margin: 15px 0;
	padding: 20px:;
}
.signup-btn
{
	text-decoration: none !important;
	border-radius: 30px;
	padding: 7px 20px;
	margin-top: 15px;
	border: 1px solid #fff !important;
	background: transparent !important;
	font-weight: 600;
	display: inline-block;
	margin-right: 10px;
	transition: 1s;
}
.casting img
{
	height: 80px;
	width: 80px;
	margin-right: 10px;
	cursor: pointer;
	margin-top: 10px;
}
.left-box a
{
	text-decoration: none !important;
	border-radius: 30px;
	padding: 7px 20px;
	margin-top: 15px;
	color: #000 !important;
	background: #107afd;
	font-weight: 600;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	transition: 1s;

}
a:hover
{
	transform: translateY(-5px);
	color: #000!important;
	background-color: #fff !important;
}
.video
{
	color: #fff;
	background-color: #000;
	text-align: center;
	float: right;
	border-radius: 8px;
	margin-top: 15px;
	margin-left: 10px;
	height: 280px;
	width: 480px;
	box-shadow: -4px 4px 5px 0 #000;
	float: right;
	
}
.book-btn
{
	border: 1px solid #fff !important;
	background: transparent !important;
}

.fa
{
	margin:  0 5px;
}
.movie-img 
{
	height: 350px;
	box-shadow: -4px 4px 5px 0 #000;
	float: right;
	border-radius: 30px;
	margin-top: 15px;
	margin-left:  10px;
}
.series h3
{
	color: #fff;
}
.series img
{
	width: 100%;
	margin-top: 15px;
	border-radius: 30px;
	cursor: pointer;
	transition: 1s;
}
.series img:hover
{
	transform: translateY(-10px);
}